extends layout

block head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js")
  script(src="/js/topic.js")
  title STARTORY - #{title}
  script.
    $(() => {
      init(#{id}, #{topic})
    })

block content
  h1#title(style='margin-left: 10px;') #{title}
  h3#desc(style='margin-left: 10px;') #{desc}
  hr(style='margin: 0px 20px;')
  div#article(style='margin: 25px;') Loading...
  hr(style='margin: 0px 20px;')
  #tag Loading...
  h3#author(style='margin-left: 10px;') Author: #{author}